/* =========================================================================
   Global
   ========================================================================= */

body {
  font-family: sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

/* =========================================================================
   SkipLink
   ========================================================================= */

.SkipLink {
  display: none;
}

/* =========================================================================
   Header
   ========================================================================= */

.Header-menu {
  display: none;
}

/* =========================================================================
   FollowMenu
   ========================================================================= */

.FollowMenu-link:after {
  content: attr(href);
}

.FollowMenu-label,
.FollowMenu-icon {
  display: none;
}

/* =========================================================================
   Footer
   ========================================================================= */

.Footer-copyright {
  display: none;
}
