/* =========================================================================
   Reset
   ========================================================================= */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* =========================================================================
   Fonts
   ========================================================================= */

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-regular.woff2') format('woff2'),
       url('../fonts/montserrat-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../fonts/montserrat-bold.woff2') format('woff2'),
       url('../fonts/montserrat-bold.woff') format('woff'); 
}

/* =========================================================================
   Heading
   ========================================================================= */

.Heading {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* =========================================================================
   Text
   ========================================================================= */

.Text {
  font-family: Georgia, serif;
  line-height: 1.4;
}

.Text p:not(:first-child) {
  margin-top: 1em;
}

.Text p:not(:last-child) {
  margin-bottom: 1em;
}

.Text a {
  color: #219ab3;
}

.Text a:hover,
.Text a:focus {
  color: #11505d;
}

.Text.dim {
  color: #808080;
}

/* =========================================================================
   Skip Link
   ========================================================================= */

/**
 * 1. Hide visually by default
 * 2. Show when has keyboard focus
 */

.SkipLink {
  position: absolute;
  top: -999px; /* 1 */
  left: 0;
  display: block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  color: black;
  font-family: Montserrat, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: top .1s ease-out;
}

.SkipLink:focus {
  top: 0; /* 2 */
  left: 0;
  transition: top .1s ease-in;
}

/* =========================================================================
   Logo
   ========================================================================= */

.Logo {
  display: block;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
}

.Logo:before {
  content: "SL";
}

/* =========================================================================
   Icon
   ========================================================================= */

.Icon {
  width: 1em;
  height: 1em;
}

/* =========================================================================
   Main Menu
   ========================================================================= */

/**
 * 1. Needed as link isn't a flex item
 */

/* List */

.MainMenu-list {
  display: flex;
}

/* Link */

.MainMenu-link {
  display: inline-block; /* 1 */
  padding: 1.1em 1.3em;
  color: #fff;
  font-family: Montserrat, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.MainMenu-link:hover,
.MainMenu-link:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

/* =========================================================================
   Follow Menu
   ========================================================================= */

/**
 * 1. Negate exterior margin applied to links
 * 2. Also needed because link isn't a flex item
 * 3. Horizontally align with link label
 * 4. Show just an icon in narrow viewports
 */

/* List */

.FollowMenu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5em; /* 1 */
}

/* Link */

.FollowMenu-link {
  display: flex; /* 2 */
  align-items: center;
  margin: 0.5em;
  border-style: solid;
  border-radius: 0.4em;
  border-width: 1px;
  border-color: currentColor;
  padding: 0.7em 0.9em;
  color: #219ab3;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.FollowMenu-link:hover,
.FollowMenu-link:focus,
.FollowMenu-link:active {
  background-color: #219ab3;
  color: black;
}

/* Link icon */

.FollowMenu-icon > .Icon {
  fill: currentColor;
  vertical-align: -11%; /* 3 */
}

/* Link label */

.FollowMenu-label {
  margin-left: 0.5em;
}

@media (max-width: 40em) { /* 4 */
  .FollowMenu-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}

/* =========================================================================
   Section
   ========================================================================= */

.Section {
  padding: 10vh 2em;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Height */

.Section.tall {
  padding: 15vw 2em;
}

/* Background */

.Section.street {
  background-image: url("../images/street.jpg");
}

/* Title */

.Section-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  text-align: center;
}

@media (max-width: 48em) {
  .Section-title {
    max-width: 100%;
  }
}

@media (min-width: 48em) {
  .Section-title {
    max-width: 44em;
  }
}

.Section-title > .Heading {
  font-size: 1.8em;
}

/* Content */

.Section-content {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 48em) {
  .Section-content {
    max-width: 100%;
  }
}

@media (min-width: 48em) {
  .Section-content {
    max-width: 44em;
  }
}

/* Row */

.Section-row {
  text-align: center;
}

.Section-row + .Section-row {
  margin-top: 3em;
}

.Section-row > .Text {
  font-size: 1.1em;
}

/* =========================================================================
   Header
   ========================================================================= */

/**
 * 1. Match padding of MainMenu
 * 2. Not enough space for the menu in narrow viewports
 * 3. To give the appearance of being a graphic
 */

.Header {
  display: grid;
  grid-template-rows: 5em auto;
  height: 100vw;
  min-height: 30em;
  max-height: 100vh;
  background-attachment: scroll;
  background-image: url("../images/desktop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 68em) {
  .Header {
    grid-template-columns: 2em 1fr 2em;
  }
}

@media (min-width: 68em) {
  .Header {
    grid-template-columns: 1fr 64em 1fr;
  }
}

/* Logo */

.Header-logo {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: start;
}

.Header-logo > .Logo {
  padding: 1.1em 1.3em; /* 1 */
}

/* Menu */

.Header-menu {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: end;
}

@media (max-width: 45em) {
  .Header-menu {
    display: none; /* 2 */
  }
}

/* Title */

.Header-title {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
}

.Header-title > .Heading {
  font-size: 7em;
  text-align: center;
  cursor: default; /* 3 */
}

@media (max-width: 57em) {
  .Header-title > .Heading {
    font-size: 12vw;
  }
}

/* =========================================================================
   Footer
   ========================================================================= */

.Footer {
  padding: 0 2em 6em;
}

.Footer > .Text {
  font-size: 0.9em;
  text-align: center;
}

/* =========================================================================
   Home Page
   ========================================================================= */

.HomePage {
  background-color: black;
  color: white;
}
