<nav class="FollowMenu" aria-label="Follow Me">
  <ul class="FollowMenu-list">

    {% for platform in site.data.social_network %}
      <li class="FollowMenu-item">
        <a class="FollowMenu-link" href="{{ platform.url }}" rel="me">
          
          {% if platform.url contains "github" %}
            <span class="FollowMenu-icon">
              {% include icon.github.html %}
            </span>
          {% endif %}

          {% if platform.url contains "linkedin" %}
            <span class="FollowMenu-icon">
              {% include icon.linkedin.html %}
            </span>
          {% endif %}
          
          {% if platform.url contains "twitter" %}
            <span class="FollowMenu-icon">
              {% include icon.twitter.html %}
            </span>
          {% endif %}
          
          {% if platform.url contains "wordpress" %}
            <span class="FollowMenu-icon">
              {% include icon.wordpress.html %}
            </span>
          {% endif %}
          
          <span class="FollowMenu-label">{{ platform.name }}</span>
        </a>
      </li>
    {% endfor %}
  
  </ul>
</nav>
